@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sometype Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --interfaceRgb: #7ec0c4;
    --classRgb: #c7eeff;
    --unionRgb: #e7ccff;
    --functionRgb: #ffd1d1;
    --variableRgb: #ffd1d1;
    --typeRgb: #bdd8ff;

    --interface: 183 37% 63%;
    --class: 198 100% 89%;
    --union: 272 100% 90%;
    --function: 0 100% 91%;
    --type: 215 100% 87%;
    --variable: 0 100% 91%;

    --background: 40, 100%, 98%;
    --foreground: 41 35% 11%;
    --card: 40, 100%, 94%;
    --card-foreground: 41 35% 11%;
    --popover: 40, 100%, 94%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 183 37% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 40 9% 87%;
    --muted-foreground: 42 26% 15%;
    --accent: 183 37% 63%;
    --accent-foreground: 41, 35%, 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 42 15% 35%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --xy-background-color: transparent;
    --xy-background-color-default: transparent;
    --xy-edge-stroke: hsl(var(--foreground));
  }
  .dark {
    --interfaceRgb: #316d72;
    --classRgb: #29657f;
    --unionRgb: #785492;
    --functionRgb: #7e3430;
    --variableRgb: #7d332f;
    --typeRgb: #2e496b;

    --interface: 185 40% 32%;
    --class: 198 51% 33%;
    --union: 275 27% 45%;
    --function: 3 45% 34%;
    --type: 213 40% 30%;
    --variable: 3 45% 34%;

    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 185 40% 32%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 185 40% 32%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 5%;
    --input: 0 0% 5%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --xy-background-color: transparent;
    --xy-background-color-default: transparent;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}

[data-state="open"] .chevron-right-collapsible-icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

[data-state="closed"] .chevron-right-collapsible-icon {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}
